.DescribeContainer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 200px;
    padding: 25px 0px;
}

.OpinionContainer {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 0px;
    width: 100%;
}

.OpinionsHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;

    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.AddOpinion, .AddEventBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    padding: 0px;
    width: 136px;
    height: 36px;
    background: #122C34;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.Opinions {
    display: grid;
    padding: 10px 0px;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 264px;
}

.Opinion {
    width: 100%;
}

.OpinionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    width: 100%;
    height: 65px;


}

.Avatar {
    width: 50px;
    height: 50px;
}

.UserInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    min-width: 150px;
    width: auto;
    height: 45px;
}

.UserName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #000000;
    margin: 0px;
}

.Date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #000000;
    margin: 0px;
}

.OpinionRate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 20px;

    width: 84.5px;
    height: 30px;
}

.Positive, .Negative {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.15px;

    color: rgba(18, 44, 52, 0.5);
}

.ReviewRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 20px;
    gap: 10px;

    width: 184.5px;
    height: 26px;
}

.OpinionText {
    width: 90%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.15px;

    color: #000000;
}

.EventsContainer, .MenuContainer {
    width: 100%;
}
.MenuContainer {
    width: 70vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
 }
.MenuNotAvailable {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'Open Sans', 'Lato', 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
 }
 
 .MenuAlertIcon {
    width: 80px;
    height: 80px;
    color: rgb(223, 219, 0);
 }
 
 .MenuAlertWrapper {
    flex-direction: column;
    text-align: center;
 }
 
 .MenuNotAvailable h1 {
    font-size: 24px;
    padding-bottom: 6px;
 }
 
 .MenuNotAvailable h1,
 h2 {
    margin: 0;
 }
 
 .MenuNotAvailable h2 {
    font-size: 16px;
 }
.EventsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-between;
    width: 100%;
    height: 58px;
}

.EventHead {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;

    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);
}

.EventsSection{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 0px;

    width: 100%;
    min-height: 264px;
}
.MenuWrapper {
    width: 60vw;
 }
 .MenuSection {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    gap: 12px;
 }
.Event {
    width: 100%;

}

.EventHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
    height: 65px;

}

.FirstSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 50px;
    min-width: 190px;
}

.EventName {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.15px;
    margin: 0px;
    color: #000000;
    width: 190px;
}

.EventAuth {
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.15px;
    margin: 0px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.SecondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 60%;
    height: 50px;
    min-width: 190px;
}
.EventHeader>.SecondSection{
    height: 100px;
}

.EventDescribe {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #000000;
}

.EventDate {
    display: flex;
    margin: 0 ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.15px;

    color: #000000;
}

.MenuHeader {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MenuHeader>h1 {
    height: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 160%;

    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}
.MenuDish {
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    gap: 20px;
    border: 1px solid rgba(221, 221, 221, 0.6);
    box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0);
    transition: all 0.2s linear;
    box-sizing: border-box;
 }
 
 .MenuDish:hover {
    box-shadow: 0 0 10px 0 rgba(221, 221, 221, 1);
 }
 
 .MenuDishImage {
    box-sizing: border-box;
    min-width: 260px;
    width: 20%;
 }
 
 .MenuDishImage img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    box-sizing: border-box;
 }
 
 .MenuDishData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
 }
.MenuDishHeader {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin: 30px 0 10px 0;
    padding: 2px 0;
}
.MenuSectionDescribe {
    font-family: 'Lato', sans-serif;
 }
.FirstContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 40%;
    min-width: 195px;
    height: 45px;
}

.DishName {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.15px;
    width: 100%;
    color: #000000;
}

.DishAmount {
    margin: 0;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #000000;
}

.SecondContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    width: 60%;
    min-width: 239px;
    height: 38px;
}

.DishPriceWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
 }
 
 .DishPrice {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.15px;
    color: #333333;
    width: 60px;
 }
 
 .DishIconVegan {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 6px 0 0;
    width: 20px;
    height: 20px;
    color: rgb(5, 163, 31);
    opacity: 0.6;
    transition: opacity 0.2s linear;
 }
 
 .DishIconVegan:hover {
    opacity: 1;
 }
 