.MenuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 200px;
    height: 220px;
    top: 54px;
    position: absolute;
    right: 10px;
    background: #FFFFFF;

    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.MenuHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 0px;

    width: 200px;
    height: 84px;
}

.MenuHeader>p {
    margin: 0;
    margin-left: 10px;
}

.UserName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);
}

.Usermail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    margin-top: 0px;

    letter-spacing: 0.17px;


    color: rgba(0, 0, 0, 0.6);
}

.MenuList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 200px;
    height: 88px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.MenuList>li {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;

    width: 200px;
    height: 36px;
}
.MenuList>li>button:hover{
    cursor: pointer;
}
.SettingBtn, .ProfilBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: #ffffff;
    width: 100%;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    letter-spacing: 0.17px;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 10px;
}
.SettingBtn>p, .ProfilBtn>p {
    margin-left: 30px;
}
.LogOutBtn {
    width: 100%;
    height: 46px;
    margin-top: 0px;
    background-color: #ffffff;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

    letter-spacing: 0.46px;
    text-transform: uppercase;


    color: rgba(0, 0, 0, 0.87);
}
.LogOutBtn:hover{
    cursor: pointer;
}