.NaviBar {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 40% 32%;
    position: absolute;
    width: 100%;
    min-width: 1300px;
    height: 60px;
    left: 0px;
    top: 0px;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 3px solid #BCBCBC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.LogoLink {
    text-decoration: none;
    color: #122C34;
    align-items: center;
    display: flex;


}

.Logo {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    width: 200px;
    margin-left: 70px;
}

.InputContainer {
    display: flex;
    padding: 0px;
    width: 220px;
    height: 24px;
    border: none;
    outline: none;
    border: none;
}

.NavContainer {
    display: flex;
    flex-direction: row;
}

.SearchInput {
    width: 220px;
    height: 24px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    ;
}

.SearchInput:focus {
    outline: none;
}

.SearchIcon {

    margin-left: -24px;
    margin-top: 4px;
}

.MapContainer {
    display: block;
    width: 83px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #122C34;

}

.EventsContainer {
    width: 126px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #122C34;
}

.GroupContainer {
    width: 87px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #122C34;

}

.UserContainer {
    display: flex;
    background: #ffffff;
    border: none;
    min-width: 180px;
    width: auto;
    top: 7px;
}

.UserContainer>img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    margin-left: 8px;
}

.MapContainer, .UserContainer, .EventsContainer, .GroupContainer {
    font-family: 'Montserrat';
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    text-align: right;
    letter-spacing: -0.02em;
    height: 30px;
    margin-right: 18px;
    color: #122C34;
}
.MapContainer:hover, .UserContainer:hover, .EventsContainer:hover, .GroupContainer:hover{
    cursor: pointer;
}