.NewEventContainer {
   display: flex;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.5);
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: 1;
   transition: all 0.3s linear;
   font-family: 'Roboto', sans-serif;
}

.NewEventContainer-appear {
   opacity: 0;
}

.NewEventContainer-appear-active {
   opacity: 1;
   transition: opacity 300ms linear;
}

.NewEventContainer-enter {
   opacity: 0;
}

.NewEventContainer-enter-active {
   opacity: 1;
   transition: opacity 300ms linear;
}

.NewEventContainer-exit {
   opacity: 1;
}

.NewEventContainer-exit-active {
   opacity: 0;
   transition: opacity 300ms linear;
}

.EventFormContainer {
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: start;
   background-color: #fafafa;
   min-width: 400px;
   width: 35vw;
   height: 100%;
   top: 0;
   z-index: 10;
   transition: all 0.3s linear 1s;
   padding: 0 10px;
}

.CloseButton {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;
   background-color: transparent;
   border: none;
   outline: none;
   border-radius: 50%;
   transition: all 0.2s linear;
   align-items: center;
   justify-content: center;
   padding: 6px;
   cursor: pointer;
}

.CloseButton:hover {
   background-color: rgb(218, 218, 218);
}

.CloseIcon {
   font-size: 22px;
}

.EventForm {
   display: flex;
   box-sizing: border-box;
   flex-direction: column;
   width: 100%;
   padding: 10px;
   margin-top: 50px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.InputWrap {
   display: flex;
   box-sizing: border-box;
   flex-direction: column;
   width: 100%;
   margin-top: 20px;
   margin-bottom: 3px;
}

.InputWrap label {
   box-sizing: border-box;
   width: 100%;
   padding-bottom: 3px;
   font-size: 14px;
}

.InputWrap input {
   box-sizing: border-box;
   width: 100%;
   padding: 6px 3px;
   outline: none;
   border-radius: 4px;
   border: 1px solid rgb(192, 192, 192);
}

.InputWrap select {
   box-sizing: border-box;
   width: 100%;
   padding: 6px 3px;
   outline: none;
   border-radius: 4px;
   border: 1px solid rgb(192, 192, 192);
}

.EventForm button {
   box-sizing: border-box;
   cursor: pointer;
   outline: none;
   border: 1px solid rgb(18, 44, 52);
   background-color: transparent;
   padding: 6px 4px;
   margin-top: 36px;
   border-radius: 7px;
   color: rgb(18, 44, 52);
   letter-spacing: 1px;
   font-weight: 600;
   font-size: 14px;
   transition: all 0.2s linear;
}

.EventFormContainer button:hover {
   color: #fafafa;
   background-color: rgb(18, 44, 52);
}

.form-container-enter {
   left: -100%;
}

.form-container-enter-active {
   left: 0;
}

.form-container-enter-done {
   left: 0;
   transition: all 300ms linear;
}

.form-container-exit {
   left: 0;
}

.form-container-exit-active {
   left: -100%;
}

.form-container-exit-done {
   transition: all 300ms linear;
}
