.UserContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 700px;
    height: 289px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 20px;
}

.UserHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-radius: 4px 4px 0px 0px;
}

.CloseBtn {
    border: none;
    background: #FFFFFF;
}

.HeaderText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133.4%;
    color: rgba(0, 0, 0, 0.87);
}

.UserContainerBody>img {
    width: 150px;
    height: 156px;


}

.UserContainerBody {
    margin-left: 16px;
    width: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    height: 100%;
}

.UserInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 20px;
    height: 156px;
}

.UserInformationHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: space-between;
}

.EditIcon>button {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-right: 10px;
    background: #ffffff;
}

.EditBtn:hover {
    cursor: pointer;
}

.UserName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: #122C34;
}

.UserContact {
    display: flex;
    flex-direction: column;
    padding: 0px;

    width: 100%;
    height: 48px;
}

.Mail, .PhoneNumber {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    height: 24px;
    margin: 0px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: rgba(18, 44, 52, 0.8);
}

.UserDescription {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 48px;
}

.UserDescriptionText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: rgba(18, 44, 52, 0.6);
}

.Modal {
    display: flex;
    width: 700px;
    height: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.FilterContainer {
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 451px;

    background: #FFFFFF;

    /* Elevation/1 */
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.FilterHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    width: 800px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px 4px 0px 0px;
}

.FilterHeaderText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133.4%;

    color: rgba(0, 0, 0, 0.87);
}

.FilterForm {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.FormSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 304px;
}

.FilterObjectType, .FilterPlaceType {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    /* identical to box height, or 24px */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    /* Light/Text/Primary */
    color: rgba(0, 0, 0, 0.87);
}

.ObjectType {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;


    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);

}

.ObjectTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 116px;
    height: 42px;
}

.GradContainer, .DistanceContainer {
    width: 300px;
}

.Slider {

    margin-left: 30px;
    width: 300px;

}

.GraduateText, .DistanceText {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);
}

.FilterBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 8px;

    width: 100%;
    height: 64px;
}

.PlacesType {
    display: flex;
    flex-direction: column;

}

.PlacesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 116px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.SendFilterBtn, .ClearFilterBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 36px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.4px;

}

.ClearFilterBtn {
    background: #85C9B9;
    color: #122C34;
    width: 124px;
}

.SendFilterBtn {
    background: #122C34;
    width: 71px;
    color: #FFFFFF;
}

.BackBtn {
    border: none;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 58px;
    height: 36px;
    color: #857E7B;
    border-radius: 4px;

}
.BackBtn:hover, .SendFilterBtn:hover, .ClearFilterBtn:hover{
    cursor: pointer;
}