.ObjectContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0px;

    position: absolute;
    height: calc(100% - 124px);
    left: 216px;
    right: 216px;
    top: 50px;
}

.MainBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;

    width: 100%;
    height: 67px;
}

.MainBar>h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.SecondBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 16px;
    height: 20px;
}

.Icon {
    width: 30px;
}

.AVGNote {
    width: 50px;
}

.Opinions {
    width: 80px;
}

.Address {
    width: 120px
}

.Fotos {
    min-height: 400px;
    width: 100%;
}

.NaviComponents {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.NaviList {
    list-style: none;
    display: flex;
    margin-left: 0px;
    padding:0;

}
.NaviBtn {

}
ul>li{
    background: #ffffff;
    border: none;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align:center;
    letter-spacing: -0.02em;
    width: auto;
    margin-right:17px ;
    text-align: initial;
    color: #122C34;
}
ul>li:hover {
    cursor: pointer;
  }
  ul> li.active {
    border-bottom:2px solid #85C9B9;
  }